@media (max-width: 1215px) {
  .products__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1044px) {
  .header__nav {
    display: block;
    position: absolute;
    top: 41px;
    left: 0;
    width: 100%;
    text-align: center;
    left: -100%;
    -webkit-transition: left .3s ease;
    transition: left .3s ease;
    overflow: auto;
  }
  .header__menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #EEEEEE;
    -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.25);
            box-shadow: 0 20px 20px rgba(0, 0, 0, 0.25);
    padding: 0;
    font-size: 20px;
  }
  .header__menu-item {
    padding: 15px 0;
    border-bottom: 1px solid #000;
    width: 100%;
    margin: 0;
  }
  .header__profile {
    display: none;
  }
  .header__burger {
    display: block;
    width: 40px;
    height: 35px;
    position: relative;
    cursor: pointer;
  }
  .header__burger-item, .header__burger::after, .header__burger::before {
    height: 3px;
    width: 100%;
    position: absolute;
    background-color: #3D5675;
  }
  .header__burger::after, .header__burger::before {
    content: '';
  }
  .header__burger::after {
    bottom: 5px;
  }
  .header__burger::before {
    top: 5px;
  }
  .header__burger-item {
    top: 16px;
  }
  .header__low-inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__low-item {
    margin: 10px;
  }
}

@media (max-width: 945px) {
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__item {
    text-align: center;
    margin-bottom: 30px;
  }
  .footer__item-logo {
    margin-bottom: 35px;
  }
}

@media (max-width: 1029px) {
  .design__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .design__inner {
    padding: 40px 50px;
  }
  .footer__inner {
    padding: 45px 40px;
  }
}

@media (max-width: 851px) {
  .advantage__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .advantage {
    padding: 40px 70px;
  }
  .advantage__title {
    text-align: center;
    margin-bottom: 30px;
  }
  .advantage__item-title {
    margin-top: 15px;
  }
  .request__inner {
    padding: 55px 45px;
  }
  .request {
    padding: 50px 60px;
  }
}

@media (max-width: 840px) {
  .request__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .request__item {
    margin-bottom: 60px;
  }
  .request__item:nth-child(1) {
    border: none;
  }
  .products__low-btn {
    padding: 10px 25px;
  }
  .products {
    padding: 25px 0;
  }
  .design {
    padding: 25px 0;
  }
  .products__top {
    margin-bottom: 25px;
  }
}

@media (max-width: 755px) {
  .header {
    min-height: auto;
  }
  .header__content-btn {
    padding: 10px 20px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .header__content-inner {
    min-height: 80vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__low {
    max-height: 80px;
  }
  .header__low-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    max-height: 80px;
    margin: 0;
  }
  .header__low-item-text {
    display: none;
  }
}

@media (max-width: 711px) {
  .products__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .products__title {
    margin-bottom: 30px;
  }
  .request__inner {
    padding: 40px 20px 0;
  }
}

@media (max-width: 509px) {
  .products__title {
    font-size: 24px;
  }
  .get {
    padding: 40px 0;
  }
  .get__btn-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .get__btn {
    margin-bottom: 20px;
  }
  .request {
    padding: 50px 20px;
  }
  .header__content {
    text-align: center;
  }
  .header__content-title {
    font-size: 32px;
  }
  .header__content-inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__content-btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .design__title {
    font-size: 25px;
  }
}

@media (max-width: 432px) {
  .products__title {
    text-align: center;
  }
  .products__low {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .products__low-btn {
    margin: 20px 0 0 0;
  }
}

@media (max-width: 405px) {
  .products__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .products__item-img {
    width: 250px;
  }
}

@media (max-width: 376px) {
  .header__low {
    max-height: 160px;
  }
  .header__low-item {
    min-height: 80px;
  }
  .header__low-inner {
    height: 160px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .design__title {
    font-size: 20px;
  }
  .request {
    padding: 30px 7px;
  }
}

@media (max-width: 333px) {
  .design__btn {
    font-size: 12px;
  }
}
/*# sourceMappingURL=media.css.map */